.applications-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 480px) {
  .applications-title {
    flex-direction: column;
    align-items: normal;
    gap: 1rem
  }
}
