.application-generator {
  background-color: var(--color-application-background);
  min-height: 100%;
  padding: 1.5rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.application-generator-text {
  white-space: pre-line;
  position: relative;
  overflow: hidden;
  flex: 1;
}

.application-generator-buttons {
  display: flex;
  justify-content: flex-end;
}

.application-generator-loading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  animation: loading 2s ease-out infinite;
  will-change: transform, opacity;
  --color-loading-start: white;
  --color-loading-end: #d0d5dd;
  --color-loading-blur: #ffffff;
}

@media (prefers-color-scheme: dark) {
  .application-generator-loading {
    --color-loading-start: #404040;
    --color-loading-end: #202020;
    --color-loading-blur: #404040;
  }
}

.application-generator-loading-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: radial-gradient(
      60% 60% at 75% 22%,
      var(--color-loading-start) 0%,
      color-mix(in srgb, var(--color-loading-start) 16%, transparent) 100%
    ),
    radial-gradient(
      100% 100% at 0% 0%,
      var(--color-loading-start) 0%,
      var(--color-loading-end) 100%
    );
  box-shadow: 0px -2px 32px 0px #10182814 inset;
}

.application-generator-loading-blur {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: var(--color-loading-blur);
  filter: blur(2.5rem);
}

@keyframes loading {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  50% {
    transform: translate3d(0, -1rem, 0);
    opacity: 0.48;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
