.goal {
  margin-top: 3rem;
  background-color: #edfcf2;
  padding: 3.375rem 2rem;
  border-radius: 0.75rem;
}
@media (prefers-color-scheme: dark) {
  .goal {
    background-color: #022716;
  }
}

.goal h2 {
  margin: 0;
}

.goal-content {
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.goal-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.goal-text {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--color-text);
}

.goal-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
