.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.logo {
  display: block;
  height: 3rem;
  width: auto;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header-progress {
  display: flex;
  align-items: center;
  gap: 1rem;
}
