@font-face {
  font-family: 'Fixel Display';
  font-weight: 600;
  src: url('./assets/fonts/FixelDisplay-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Fixel Text';
  font-weight: 400;
  src: url('./assets/fonts/Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Fixel Text';
  font-weight: 600;
  src: url('./assets/fonts/FixelText-SemiBold.woff2') format('woff2');
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 2rem auto 7.5rem;
  max-width: 70rem;
  color-scheme: light dark;
  background-color: var(--color-background);
  color: var(--color-title);

  font-family: 'Fixel Text', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Fixel Display';
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.25;
  letter-spacing: -2%;
}

:root {
  --color-background: #242424;
  --color-title: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #ffffff;
    --color-title: #101828;
  }
}
