@font-face {
  font-family: 'Fixel Display';
  font-weight: 600;
  src: url('./assets/fonts/FixelDisplay-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Fixel Text';
  font-weight: 400;
  src: url('./assets/fonts/FixelText-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Fixel Text';
  font-weight: 500;
  src: url('./assets/fonts/FixelText-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Fixel Text';
  font-weight: 600;
  src: url('./assets/fonts/FixelText-SemiBold.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 2rem auto 7.5rem;
  padding: 0 1rem;
  max-width: 72rem;
  color-scheme: light dark;
  background-color: var(--color-background);
  color: var(--color-title);

  font-family: 'Fixel Text', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

h1 {
  font-family: 'Fixel Display';
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.25;
  letter-spacing: -0.06rem;
  margin: 0;
}
h2 {
  font-family: 'Fixel Display';
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: -0.045rem;
  margin: 0;
}
p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--color-text);
  margin: 0;
}

hr {
  border: none;
  height: 1px;
  background-color: #eaecf0;
  margin: calc(1rem - 1px) 0 1rem;
}
h2 + hr {
  margin-top: calc(0.75rem - 1px);
}
@media (prefers-color-scheme: dark) {
  hr {
    background-color: #303030;
  }
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
.color-text {
  color: var(--color-text);
}

:root {
  --color-background: #ffffff;
  --color-title: #101828;
  --color-text: #667085;
  --color-primary: #087443;
  --color-secondary: #344054;
  --color-link: #475467;
  --color-danger: #f04438;
  --color-border: #d0d5dd;
  --color-application-background: #f2f4f7;
  --color-success: #73e2a3;
  --color-success-outline: #d3f8df;
  --color-error: #fda29b;
  --color-error-outline: #fee4e2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #242424;
    --color-title: #ffffff;
    --color-text: #909090;
    --color-primary: #1f8752;
    --color-secondary: #ffffff;
    --color-link: #ffffff;
    --color-danger: #ef4444;
    --color-border: #45464a;
    --color-application-background: #303030;
    --color-success: #4ade80;
    --color-success-outline: #064e3b;
    --color-error: #f87171;
    --color-error-outline: #7f1d1d;
  }
}

@media (max-width: 960px) {
  html {
    font-size: 14px;
  }
  body {
    margin: 1rem auto;
  }
  .mobile-hidden {
    display: none;
  }
}
